@font-face {
    font-family: "Virgil"; 
    src: url("fonts/Virgil.woff2") format("woff2"); 
    font-weight: normal; 
    font-style: normal; 
}
*
{
    font-family: "Virgil";

}
h1
{
    font-size: 5em;
    
}
a
{
    color: #393d3f;
    font-size:large;
}
.flex-container
{
    display:flex;
    gap: 3em;
    color:#393d3f;;
    flex-direction: column;
    padding:1em;
    background-color: white;
}
.header
{
    display: flex;
    gap: 2em;
}
.sub-item
{
    width: 30%;
}